body {
    background-color: #FF5EAF;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation {
     border: 3px solid #FF5EAF;
 text-align: center;
 padding: 10px;
 width: 276px;
 max-width: 100%;
 height: 323px;
 background-color: #FF89C4;
}

.diaryhold {
display: flex;
items-align: center;
 border: 2px solid #FF5EAF ;
 background-color: #FF89C4;   
}

.page {
    position: relative;
    width: 500px;
    height: 700px;
    margin: 0 auto;
}

.onpage {
    position:absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}
